# netbeans
/PricingEngine/nbproject/private/
/PricingEngine/build/
/DegreeAdvisor/nbproject/private/
/DegreeAdvisor/build/

# database
#DegreeAdvisor/data/university.db3

# emacs
*~
/DegreeAdvisor/dist/